

<p>
  <%= simple_format(@job.description) %>
  <div class="container">
  <div class="col-md-8" style="margin-left:155px">
    <div class="form-area">
        <form role="form">
          <br style="clear:both">

          <h1 style="margin-bottom: 25px; text-align: center;"><%= @job.title %></h1>
            <div class="form-group">
</p>
<div class="text-center">
  <%= link_to("Send Resume", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
</div>
</div>
</form>
</div>
</div>
</div>
