<div class="jumbotron">
    <h2 class="title">  <br><br></h2>
    <!-- <div class="lp-section-2 clearfix">
      <div class="content-2"> -->
        <!-- <h2>The WORLD IS DYING!</h2> -->
        <p>
         When I looked into your eyes
         <br> I didn't see just you,
         <br>I saw my today,my tomorrow,and my future for the rest of my life...
         <br>Join in us, you'll get your future.
        </p>
      <!-- </div> -->
      <p class="lead"><a class="btn btn-lg btn-danger-custom" href="/jobs">Get your future!</a></p>
    <!-- </div> -->
    <p class="slogan">

    </p>

  </div>



  <div class="lp-section-3 clearfix">
  <div class="content-3">
    <div class="feature-title">
      <div class="triangle-down"></div>
        <h2>TO-BE YOURSELF</h2>
    </div>

      <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
          <div class="card">
              <img class="card-img-top" src="http://www.success.com/sites/default/files/13_11.jpg">
              <p class="card-block">
                ACT NOW
              </p>
          </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
          <div class="card">
              <img class="card-img-top" src="http://www.wishafriend.com/goodluck/uploads/4096-good-luck-messages.jpg">
              <p class="card-block">
              GO FOR IT
              </p>
          </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
          <div class="card">
              <img class="card-img-top" src="http://thedailyquotes.com/wp-content/uploads/2015/03/do-something-today-future-self-thank-you-motivational-quotes-sayings-pictures.jpg">
              <p class="card-block">
              CREATE IT
              </p>
          </div>
      </div>

  </div>
  </div>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
  </head>

  <section id="carousel">
  	<div class="container">
  			<div class="col-md-8 col-md-offset-2">
        <div class="triangle-down"></div>
        <h2>QUOTES</h2>
  				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="5000">
  				  <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
          				    <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
          				    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
          				    <li data-target="#fade-quote-carousel" data-slide-to="2"></li>

  				          </ol>
  				  <!-- Carousel items -->
  				  <div class="carousel-inner">

  				    <div class="active item">
                <img class="profile-circle" src="https://s-media-cache-ak0.pinimg.com/736x/61/42/05/6142054081bced5aca0686c902753a97.jpg">
      				    	<blockquote>
      				    		<p>
                      The best way
                      <br> to predict the future
                      <br>is to create it.


                      </p>
      				    	</blockquote>
  				    </div>

  				    <div class="item">
                <img class="profile-circle" src="http://cdn.quotesgram.com/img/34/8/267838068-create-your-future-wall-sticker-quote-p231-2246_medium.jpg">
      				    	<blockquote>
      				    		<p>
                         Your future is created by
                         <br>WHAT YOU DO TODAY
                         <br>not tomorrow!
                      </p>
      				    	</blockquote>
  				     </div>

  				    <div class="item">
                          <img class="profile-circle" src="https://s-media-cache-ak0.pinimg.com/736x/68/f8/0f/68f80f67784fa8993ca5940c71e4b3cf.jpg">
  				    	<blockquote>
  				    		<p>
                   <br>  Better things
                  <br>  are coming.
                  </p>
  				    	</blockquote>
  				    </div>

  				  </div>
  				</div>
  			</div>

  	</div>
  </section>
